/* https://colorhunt.co/palette/191a191e51284e9f3dd8e9a8 */

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&display=swap');

* {
  font-family: 'Oswald', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  background-color: #191A19;
}

body {
  height: 100vh;
  margin-bottom: 100px;
}